{% extends "base.html" %}

{% block app_content %}
<h1>Postcode info</h1>
<table class="table table-hover">
    <tr>
        <th>Category</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Postcode</td>
        <td>{{ session.pcode }}</td>
    </tr>
    <tr>
        <td>Square Footage</td>
        <td>{{ session.sqft }}</td>
    </tr>
    <tr>
        <td>Bedrooms</td>
        <td>{{ session.beds }}</td>
    </tr>
</table>

{% for sale in sales %}
<div>{{ sale }}</div>
{% endfor %}


{% endblock %}